.navigationBar {
    margin: auto;
    padding: 15px;
}

.navigationBar ul {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 10px;
    display: flex;
}

.navigationBar ul li {
    padding: 0 30px;
}

.navigationBar ul li a {
    color: none !important;
    text-decoration: none !important;
    width: 100% !important;
    box-sizing: border-box !important;
    display: block !important;
}

.navigationBar ul li a:hover,
.navigationBar ul li a:active,
.navigationBar ul li a.active {
    color: none !important;
}