.playlist {
    width: 70%;
    height: 350px;
    background: white;
    position: relative;
    top: 15%;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
    box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
}

.imageBox, .imageBox img {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

.follow {
    width: 40%;
    margin-top: 40%;
}