.slideContainer {
    height: inherit;
    margin: auto;
}

.slideContainer > div {
    height: inherit !important;
}
   
h3 {
    text-align: center;
}

.eachSlide {
    height: 150px;
}

.eachSlide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
}

.nameSlide {
    height: 100px !important;
    font-weight: bold;
    text-align: center;
}
   
.eachSlide span {
    padding: 20px;
    font-size: 20px;
    background: #fff;
    text-align: center;
}