.App {
  background-color: #eee;
  height: 100vh;
}

.header {
  height: 10vh;
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 10%;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
  box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
}

.view {
  height: inherit !important;
}

.viewImage {
  margin-top: 25px !important;
}

.viewDetail {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.playlistView {
  height: inherit !important;
}

.playlistName {
  justify-content: center;
}

.react-slideshow-container {
  height: inherit !important;
}

.react-slideshow-container .nav:last-of-type {
  position: absolute !important;
  right: 25% !important;
  border: 1px solid rgb(125, 96, 255) !important;
}

.react-slideshow-container .nav:first-of-type {
  position: absolute !important;
  left: 25% !important;
  border: 1px solid rgb(125, 96, 255) !important;
}

.react-slideshow-wrapper.slide {
  height: inherit !important;
}

.react-slideshow-container .nav span {
  border-color: rgb(125, 96, 255) !important;
  border-width: 1px !important;
}