.overview {
    width: 70%;
    height: 250px;
    background: white;
    position: relative;
    top: 15%;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
    box-shadow: 0px 0px 10px 5px rgba(222,219,222,1);
}

.imageBox, .imageBox img {
    width: 250px;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    margin: auto;
    margin-right: inherit;
}

.follow {
    width: 20%;
    margin-top: 20%;
}