.dropdownList {
    display: flex;
    flex-direction: column;
    margin-top: 30px !important;
    margin-left: 0px !important;
    padding: 5px;
    background: white;
}

.dropdownListItem {
    padding: 10px !important;
}